    <div class="footer-dark">
        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-md-6 item text">
                        <h3>About us</h3>
                        <p style="text-align: justify;">This site allows you to connect workers with employers. The employee leaves his mini CD here, then the employer can go to the site, select an employee with the requirements that suit him and get in touch.</p>
                    </div>
                    <div class="col item social"><a href=""><i class="icon ion-social-facebook"></i></a><a href="#"><i class="icon ion-social-twitter"></i></a><a href="#"><i class="icon ion-social-instagram"></i></a></div>
                </div>
                <p class="copyright">Kravchenko Nikita Vladimirovich © 2021</p>
            </div>
        </footer>
    </div>
 
